@font-face {
	font-family: 'didot';
	src: url('../../assets/GFS_Didot/GFSDidot-Regular.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: didot;
}

p {
	margin-bottom: 24px;
}

ul {
	list-style-type: none;
	margin: 0 0;
	padding: 0 0;
}

li {
	list-style-type: none;
}

.h-90vh {
	height: 90vh;
}

.h-100vh {
	height: 100vh;
}

.w-100vw {
	width: 100vw;
}

.didot {
	font-family: didot;
}

main {
	max-width: 1024px;
	margin: 0 auto;
}
body {
	background-color: #000000;
}

