@font-face {
	font-family: 'didot';
	src: url('../../assets/GFS_Didot/GFSDidot-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: didot;
}

p {
	margin-bottom: 24px;
}

ul {
	list-style-type: none;
	margin: 0 0;
	padding: 0 0;
}

li {
	list-style-type: none;
}

footer {
	background-color: #000;
}

.font48 {
	font-size: 48px;
}

.h-90vh {
	height: 90vh;
}

.h-100vh {
	height: 100vh;
}

.w-100vw {
	width: 100vw;
}

.maxW1024 {
	max-width: 1024px;
}

.max-w-860 {
	max-width: 860px;
}

.max-w-920 {
	max-width: 920px;
}

.max-w-1024 {
	max-width: 1024px;
}

.didot {
	font-family: didot;
}

.didot-bold {
	font-family: didot;
	font-weight: 600;
}

.egg-shell-font {
	color: #f0ead6;
}

.egg-shell-background {
	background: #f0ead6;
}

main {
	margin: 0 auto;
}
body {
	background-color: #000000;
}
