.nav__bar {
	background-color: #000;
	color: #f0ead6;
	font-size: 1.1rem;

	& li {
		display: inline-block;
	}

	.text-right {
		text-align: right;
	}

	a {
		color: #f0ead6;
		text-decoration: none;
	}
}

